<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>附件管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='./views/css/admin_style.css'>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/jquery.js"></script>
</head>
</head>
<body>
<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">
<tr class="table_title">
  <td colspan="5">本地附件列表</td>
</tr>
<tr class="list_head ct">
  <td >附件保存路径</td>
  <td width="100">文件大小</td>
  <td width="140">修改时间</td>
  <td width="90">操作</td>
</tr>
<notempty name="dirup">
<tr class="tr">
  <td colspan="5"><img src="./views/images/file/folder.png"> <a href="?s=Admin/Upload/Fileshow/id/{$dirup}" >上级目录</a></td>
</tr>    
</notempty>    
<volist name="dir" id="gxcms">
  <eq name="gxcms.isDir" value="1">
  <tr class="tr">
  <td colspan="5"><img src="./views/images/file/folder.png"> <a href="?s=Admin/Upload/Fileshow/id/{:str_replace('/','*',$gxcms['path'].'/'.$gxcms['filename'])}" >{$gxcms.path}/{$gxcms.filename}</a></td>
  </tr>
  <else /><php>$gxcmssize=$gxcms['size']/1000</php>
  <tr class="tr ct">
  <td class="lt"><img src="./views/images/file/{$gxcms.ext|default='other'}.png"> {$gxcms.path}/{$gxcms.filename}</td>
  <td class="td">{$gxcmssize} KB</td>
  <td class="td">{$gxcms.mtime|date='Y-m-d H:i:s',###}</td>
  <td><a href="{$gxcms.path}/{$gxcms.filename}" target="_blank">浏览</a> <a href="?s=Admin/Upload/Filedel/id/{:str_replace('/','*',$gxcms['path'].'/'.$gxcms['filename'])}" onClick="return confirm('确定删除该图片吗?')">删除</a></td>
  </tr>
  </eq>
</volist>
</table>
<include file="footer" />
</body>
</html>