<if condition="C(url_html) eq 1">
<div class="approve"><a href="javascript:void(0)" id="Up" class="Up"><span>顶</span>(<font id="UpNum">{$up}</font>)</a></div>
<div class="rejector"><a href="javascript:void(0)"  id="Down" class="Down"><span>踩</span>(<font id="DownNum">{$down}</font>)</a></div>
<else/>
<div class="approve"><a href="javascript:void(0)" id="Up"><span>顶</span>(<font id="UpNum">{$up}</font>)</a></div>
<div class="rejector"><a href="javascript:void(0)"  id="Down"><span>踩</span>(<font id="DownNum">{$down}</font>)</a></div>
</if>