<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>留言列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='./views/css/admin_style.css'>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/jquery.js"></script>
<script language="JavaScript" charset="utf-8" type="text/javascript" src="./views/js/admin_all.js"></script>
</head>
<body>
<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">
<form action="?s=Admin/Guestbook/Show" method="post" name="gxform" id="gxform">
<tr class="table_title"><td colspan="8">{$showname}信息列表</td></tr>
<tr class="tr">
<td colspan="8"><input name="wd" onFocus="this.value=''" onBlur="if(this.value=='')this.value='可搜索({$showname}内容,用户呢称,用户IP)'" type="text" size="35" maxlength="50" value="{$wd|default='可搜索留言内容,用户呢称,用户IP)'|htmlspecialchars}" style="color:#999;">&nbsp;<input name="type" type="hidden" value="other"><input name="eid" type="hidden" value="{$eid}"><input type="submit" value="搜 索" class="bginput" /></td>
</tr>
<tr class="list_head ct">
  <td width="60">编号ID</td>
  <td >{$showname}内容</td>
  <td width="50">查看</td>
  <td width="80">用户名</td> 
  <td width="90">用户IP</td>   
  <td width="80">时间</td>
  <td width="50">状态</td>
  <td width="120">操作</td>
</tr>
<volist name="list_gbook" id="gxcms">
<tr class="tr ct">
  <td class="lt"><input name="ids[]" type="checkbox" value="{$gxcms.id}" class="noborder">{$gxcms.id}</td>
  <td class="lt" style="white-space:normal;">{$gxcms.content|msubstr=0,37|htmlspecialchars|remove_xss}<gt name="gxcms.errid" value="0">&nbsp;&nbsp;<a href="?s=Admin/Video/Add/id/{$gxcms.errid}"><font color="red">处理</font></a></gt></td>
  <td class="td"><img src="./views/images/admin/comment.gif" title="查看详细信息" onClick="dialogPop('?s=Admin/Guestbook/Showid/id/{$gxcms.id}','{$showname}详细信息');" style="cursor:pointer;"></td>
  <td class="td"><a href="?s=Admin/Guestbook/Show/eid/{$eid}/wd/{$gxcms.username|urlencode|htmlspecialchars|remove_xss}">{$gxcms.username|htmlspecialchars|remove_xss}</a></td>
  <td class="td"><a href="?s=Admin/Guestbook/Show/eid/{$eid}/wd/{$gxcms.ip}">{$gxcms.ip}</a></td>
  <td class="td">{$gxcms.addtime|date='Y-m-d',###}</td>
  <td class="td"><eq name="gxcms['status']" value="1"><a href="?s=Admin/Guestbook/Status/id/{$gxcms.id}/sid/0" title="已通过审核,点击取消审核">已审</a><else /><a href="?s=Admin/Guestbook/Status/id/{$gxcms.id}/sid/1" title="还没通过审核,点击通过审核"><font color="red">未审</font></a></eq></td>
  <td class="td"><a href="?s=Admin/Guestbook/Add/id/{$gxcms.id}" title="点击修改留言">修改</a> <a href="?s=Admin/Guestbook/Del/id/{$gxcms.id}" onClick="return confirm('确定删除该留言吗?')" title="点击删除留言">删除</a> <empty name="gxcms.recontent"><a href="?s=Admin/Guestbook/Add/id/{$gxcms.id}/reid/1" title="还没有回复,点击回复"><font color="red">未回复</font></a><else /><a href="?s=Admin/Guestbook/Add/id/{$gxcms.id}/reid/1" title="已经回复留言,点击修改回复">已回复</a></empty></td>
</tr>
</volist> 
<tr class="tr pages"><td colspan="8">{$listpages}</td></tr>
<tr class="tr"><td colspan="8"><input type="button" id="checkall" value="全/反选" class="bginput">&nbsp;&nbsp;<input type="submit" value="批量审核" class="bginput" onClick="gxform.action='?s=Admin/Guestbook/Statusall/sid/1';" />&nbsp;&nbsp;<input type="submit" value="取消审核" class="bginput" onClick="gxform.action='?s=Admin/Guestbook/Statusall/sid/0';" />&nbsp;&nbsp;<input type="submit" value="批量删除" onClick="if(confirm('删除后将无法还原,确定要删除吗?')){gxform.action='?s=Admin/Guestbook/Delall';}else{return false}"  class="bginput"/> <input type="submit" value="清空{$showname}" onClick="if(confirm('清空数据后将无法还原,确定要清空吗?')){gxform.action='?s=Admin/Guestbook/Delclear';}else{return false}" class="bginput" title="点击删除所有{$showname}内容!"/></td></tr> 
</form>
</table>
<include file="dialog" />
<style>#dia_title{height:25px;line-height:25px}.jqmWindow{height:300px;width:500px;}</style>
<include file="footer" />
</body>
</html>