<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<TITLE>管理中心-{&web_name}</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<link rel='stylesheet' type='text/css' href='./views/css/admin_style.css'>
<script language="JavaScript1.2">if(self!=top){top.location=self.location;}</script>
</head>
<FRAMESET border=0 frameSpacing=0 rows=76,* frameBorder=0 cols=*>
<FRAME id=topFrame name=topFrame src="?s=/admin/Index/Top" noResize scrolling=no>
<FRAMESET id=bodyFrame border=0 frameSpacing=0 frameBorder=NO cols=176,* noresize scrolling="yes">
<FRAME id=left name=left src="?s=/admin/Index/Left" frameBorder=0 scrolling=yes>
<FRAME id=right name=right marginWidth=0 marginHeight=0 src="?s=/admin/Index/Main" frameBorder=0 scrolling=yes>
</FRAMESET></FRAMESET>
<noframes></noframes>
</html>
