<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<script language="javascript">var SitePath='{$webpath}';var SiteMid='{$mid}';var SiteCid='{$cid}';var SiteId='{$id}';</script>
<script language="JavaScript" type="text/javascript" src="{$webpath}views/js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="{$webpath}views/js/system.js"></script>
<script language="JavaScript" type="text/javascript" src="{$webpath}views/js/history.js"></script>
<link rel='stylesheet' type='text/css' href='{$webpath}views/css/system.css'>