<h4 style="font-size:14px;color:#000000; height:25px; line-height:25px"><span style="float:left">{&web_name}使用协议:</span><span style=" float:right;cursor:pointer" onclick="closereg();">关闭</span></h4>
<textarea style="width:100%; height:250px;">
注册用户的义务
  (1) 遵守《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》及中华人民共和国其他各项有关法律、法规，承担一切因您的行为直接或间接引起的民事或刑事法律责任。
  (2) 尊重网上道德，严禁发表危害国家安全、破坏民族团结、破坏国家宗教政策、破坏社会稳定、侮辱、诽谤、教唆、虚假、淫秽等内容的作品。
  (3) 注册时提供您本人真实、正确、最新及完整的资料，并负责进行更新，以确保其真实、正确、最新及完整。
  (4) 注册用户自行负担上网所需的设备及费用。
  (5) 在任何情况下，注册用户不得利用“{&web_name}”进行违反或可能违反国家法律和法规的言论或行为，否则，“{&web_name}”可在任何时候不经任何事先通知终止向您提供服务。并且用户对自己的言论或行为负责。
若您提供任何错误、不实、过时或不完整的资料或信息，并为“{&web_name}”所确知，或者“{&web_name}”有合理的理由怀疑前述资料或信息为错误、不实、过时或不完整，“{&web_name}”有权暂停或终止您的帐号，并拒绝您于现在和未来使用“{&web_name}”全部或部分的服务。
</textarea>