<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的评论-{$webname}</title>
<link rel='stylesheet' type='text/css' href='./views/css/user.css'>
</head>
<include file="top" />
<div class="show">
<div class="left">
	<include file="left" />
</div>
<div class="user">
    <h3><span style="float:right">共{$count_comment}条评论</span>我的评论</h3> 
    <gxfor name="list_comment" id="gxcms">
    <ul style="margin-bottom:10px; clear:both">
    <li>评论内容：<span style="font-size:12px;color:#333">{$gxcms.content|htmlspecialchars|remove_xss}</span></li>
    <li style="color:#999999">评论信息：<span style="font-size:12px"><eq name="gxcms.status" value="1">已审核<else /><font color="red">未审核</font></eq> {$gxcms.addtime|date='Y-m-d H:i:s',###}</span> </li>
    </ul> 
    </gxfor> 
    <ul class="pages"><notempty name="list_comment"><div class="comm-pager">{$pages}</div><else />没有发表评论。</notempty></ul>
</div>	
</div>
</body>
</html>