<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>积分充值-{$webname}</title>
<link rel='stylesheet' type='text/css' href='./views/css/user.css'>
</head>
<include file="top" />
<div class="show">
<div class="left">
	<include file="left" />
</div>
<div class="user">
    <h3>积分购买请联系站长</h3> 
    <ul style="line-height:25px">QQ:{$webqq}<br>Email:{$webemail}<br>1积分＝1人民币</ul> 
</div>	
</div>
</body>
</html>